.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.title {
  padding-left: 70px;
  color: #fff;
}

.nav {
  width: 40%;
}

.ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.li {
  list-style-type: none;
}

.button {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  transition: 0.3s;
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #008080;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
}

.button:hover {
  background-color: #d8d8d8;
}
