.li {
  text-align: center;
  list-style-type: none;
}

.li > a {
  transition: 0.3s;
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #008080;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  padding: 10px 20px;
  border-radius: 10px;
}

.li > a:hover {
  background-color: #d8d8d8;
}
