.container {
  width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 960px) {
  .container {
    width: 50%;
    margin: 0px auto;
  }
}

.title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 48px;
}

.form {
  width: 80%;
  margin: 40px auto;
}

.area {
  margin-top: 40px;
}

.link {
  margin-top: 20px;
}

.link > a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.link > a:hover {
  color: #d87e00;
}
